.App{
  display: flex;
  flex-direction: column;
}

.component-container{
  text-align: left;
}

header{
  text-align: left;
  font-size: 24px;
}

.image-container{
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 50px;
}

.image-container img{
  float: left;
}

.image-container a{
  max-width: 1000px;
  max-height: 400px;
  overflow: hidden;
  
}

.button-container{
  display: flex;
  flex-wrap: nowrap;
}

.image-container button{
  width: 200px;
  height: 50px;
}

.goods-name{
  color: #34BFEF;
  padding-left: 20px;
  border-left: solid #34BFEF 5pt;
  width: fit-content;
  margin-left: 50px;
}

.goods-price{
  width: fit-content;
}

.goods-card{
  width: fit-content;
  max-width: 200px;
  margin-top: 100px;
}

.goods-gallery{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

